<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Migrated rules for ICSharpCode.AvalonEdit.ruleset" Description="已通过项目“F:\chrome download\avalon\AvalonEdit_Source\ICSharpCode.AvalonEdit\ICSharpCode.AvalonEdit.csproj”中的“Debug (Any CPU)”配置的 CodeAnalysisRules 属性创建此规则集。" ToolsVersion="10.0">
  <IncludeAll Action="Warning" />
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="CA1020" Action="None" />
    <Rule Id="CA1033" Action="None" />
    <Rule Id="CA1810" Action="None" />
  </Rules>
</RuleSet>